{% extends 'estrutura.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}" />
<link rel="stylesheet" href="{% static 'css/botoes.css' %}" />

<div class="form-container">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <h1>Editar Carro</h1>
    
    <table>
      {{ form.as_table }}
    </table>

    <div class="buttons-container">
      <input type="submit" value="Salvar Alterações" class="btn btn-primary" />
      <a href="{% url 'DeleteViewCars' pk=object.pk %}" class="btn btn-danger">Deletar Carro</a>
      <a href="{% url 'ListViewCars' %}" class="btn btn-secondary">Cancelar</a>
    </div>
  </form>
</div>

{% endblock %}
