{% extends 'estrutura.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/card.css' %}" />


<div class="card-items">
  <!-- Barra de pesquisa -->
  <div class="search-bar">
    <form method="GET" action="{% url 'ListViewCars' %}">
      <input type="text" name="search" placeholder="Buscar carro..." />
      <button type="submit">Buscar</button>
    </form>
  </div>

  <!-- Grid de cards -->
  <div class="car-grid">
    {% if object_list %} {% for car in object_list %}
    <div class="car-card">
      <img
        src="{{ car.photo.url }}"
        alt="{{ car.model }} - {{ car.brand }}"
        class="img-car"
      />
      <h2>{{ car.brand }} {{ car.model }}</h2>
      <p>{{ car.factory_year }} - R$ {{ car.value }}</p>

      <div class="buttons">
        <button>
          <a href="{% url 'DetailViewsCar' car.pk %}" class="btn btn-details">Ver Detalhes</a>
        </button>
        <button class="btn btn-heart">Favoritar</button>
      </div>
      
    </div>
    {% endfor %} {% else %}
    <p class="no-results">Nenhum carro encontrado.</p>
    {% endif %}
  </div>
</div>

{% endblock %}
