{% extends 'estrutura.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}" />
<link rel="stylesheet" href="{% static 'css/botoes.css' %}" />

<div class="form-container">
  <form method="POST">
    <h2>Cadastro</h2>
    {% csrf_token %}

    <div class="form-group">
      <label for="{{ user_form.username.id_for_label }}">Nome:</label>
      {{ user_form.username }} {% if user_form.username.errors %}
      <div class="error-message">
        {% for error in user_form.username.errors %}
        <p>{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <div class="form-group">
      <label for="{{ user_form.password1.id_for_label }}">Senha:</label>
      {{ user_form.password1 }} {% if user_form.password1.errors %}
      <div class="error-message">
        {% for error in user_form.password1.errors %}
        <p>{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <!-- Confirmar Senha -->
    <div class="form-group">
      <label for="{{ user_form.password2.id_for_label }}"
        >Confirmar Senha:</label
      >
      {{ user_form.password2 }} {% if user_form.password2.errors %}
      <div class="error-message">
        {% for error in user_form.password2.errors %}
        <p>{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <!-- Botão de Submissão -->
    <div class="buttons-container">
      <input
        name="Cadastrar"
        value="Cadastrar"
        type="submit"
        class="btn btn-primary"
      />
    </div>
  </form>
</div>
{% endblock %}
