<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Meu Site{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
  </head>
  <body>
    <header>
      <nav class="nav-menu">
        <ul class="nav-lu">
          {% if user.is_authenticated %}
          <li class="item-li">Olá, {{ user.username }}</li>
          <li class="item-li"><a class="item-a" href="{% url 'ListViewCars' %}">Todos os carros</a></li>
          <li class="item-li"><a class="item-a" href="{% url 'CreateViewCars' %}">Cadastrar novo carro</a></li>
          <li class="item-li"><a class="item-a" href="{% url 'LogoutAccounts' %}">Logout</a></li>
          {% else %}
          <li class="item-li"><a class="item-a" href="{% url 'ListViewCars' %}">Home</a></li>
          <li class="item-li"><a class="item-a" href="{% url 'LoginAccounts' %}">Login</a></li>
          <li class="item-li"><a class="item-a" href="{% url 'RegisterAccounts' %}">Cadastre-se</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>

    

    {% block extra_scripts %}{% endblock %}
  </body>
</html>
